header h1 {
    font-size: 38px;
    padding: 30px;
    background-color: aqua;
}
nav {
    background-color: cadetblue;
    font-size: 18px;
    text-align: left;
    padding: 15px;
}
.navlist {
    list-style: none;
}
.navlist li a {
    color: white;
}
.navlist li {
    display: inline;
    margin-left: 20px;
}
.titulofatos {
    margin: 20px;
}
.divhisto {
    margin: 3%;
    display: block;
}
.histo {
    display: inline;
    text-align: right;
    display: contents;
}
.divhisto ul li {
    margin: 5px;
}
.img1 {
    width: 300px;
}
.img2 {
    width: 300px;
}
.artsoco {
    vertical-align: top;
    text-align: justify;
    display: inline-block;
    width: 300px;
    margin-left: 30px;
    margin-right: 50px;
}
.artvel {
    vertical-align: top;
    text-align: justify;
    display: inline-block;
    width: 300px;
}
